<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Általános">
        <setting label="Video minősége" type="enum" id="autopick" default="1" values="Választható|Legjobb"></setting>
        <setting label="EPG időeltolás (óra)" type="slider" id="gmt.offset" range="-12,1,12" default="0" option="int"/>
    </category>
</settings>